@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

form {
  width: 100%; 
  max-width: 300px; 
  position: relative;
  font-family: "Inter", sans-serif;

  input {
    width: 100%;
    border-radius: 10px;
    background-color: #27272a;
    padding: 8px;
    padding-right: 60px; 
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 50px;
    padding: 0 1rem;
    height: 2.25rem;
    font-size: 13px;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    right: 6px;
    background-color: black;
    color: white;
    white-space: nowrap;
  }
}
